:root {
    color-scheme: dark;
    width: 100%;
}
* {
    color: white;
    font-family: "Segoe UI",Helvetica,Arial, sans-serif;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}
.menuItem, .footerItem {
    margin: 0;
    height: 100%;
    line-height: 100%;
    padding: 4px;
}
#stats {
    text-align: center;
    width: auto;
    padding-right: 44px;
}
#stats img {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 20px;
    filter: opacity(20%);
}
.navigation {
    height: 35px;
    line-height: 35px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    font-size: small;
    border-bottom: 1px solid rgb(40,40,40);
}
#footer {
    text-align: center;
}
.links {
    color: grey;
    font-size: small;
}
#header {
    text-align: center;
    border-bottom: 1px solid rgb(40,40,40);
    height: auto;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
    width: 100%;
}
#headline {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    line-height: auto;
}
#main {
    height: auto;
    margin: auto;
    margin-top: 20px;
    width: 900px;
    border: 1px solid rgb(40,40,40);
    border-bottom: 0;
    background-color: rgb(15,15,15);
}
h2, h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}
a {
    text-decoration: none;
}
a:hover {
    color: white;
}
button {
    background-color: transparent;
    border: 0;
    vertical-align: middle;
    margin: 2px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: small;
}
img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
button:disabled {
    filter: invert(75%);
}
button:enabled:hover {
    filter: invert(50%);
}
button:enabled:active {
    transform: translateY(1px);
}
select {
    width: auto;
    padding: 4px;
    vertical-align: middle;
    margin: 5px;
    height: auto;
    border: 1px solid rgb(40,40,40);
    overflow: auto;
}
select option:checked {
    color: rgb(255, 255, 255);
}
input {
    border: 1px solid rgb(40,40,40);
    outline: none;
    width: 45%;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
select, input {
    background-color: black;
    font-size: small;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 2px;
}
input[type="radio"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: right;
    margin: 2px;
}
input:focus {
    outline: none;
}
table {
    width: 100%;
    text-align: left;
    font-size: small;
    background-color: black;
    border: 1px solid rgb(40,40,40);
}
table, th, td {
    border-collapse: collapse;
    padding: 5px;
    cursor: default;
}
th {
    text-align: left;
    border-bottom: 1px solid rgb(40,40,40);
}
td {
    max-width: 200px;
    word-wrap: break-word;
}
label {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: small;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.separator {
    border-left: 3px solid grey;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.labels {
    width: 30%;
    text-align: right;
}
.component {
    width: auto;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    height: auto;
    vertical-align: middle;
    text-align: left;
    border: 1px solid rgb(40,40,40);
    font-size: small;
}
.layer2 {
    padding: 20px;
    border-bottom: 1px solid rgb(40,40,40);
    border-top: 0;
}
#defaults {
    border: 1px solid rgb(40,40,40);
    width: auto;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.controls {
    text-align: right;
    width: auto;
    height: auto;
    margin-top: 10px;
}
.control {
    width: auto;
    display: inline-block;
    margin: 3px;
}
span {
    padding: 3px;
}
#controlsCLI {
    padding: 10px;
}
#controlsJSON {
    float: right;
}
#controlsCompact {
    float: left;
}
#mirrorOnlyLevelUpdates, #trustDownloadedFilesInRepositoryTemp {
    margin: 5px;
}
#outputBox {
    background-color: black;
    white-space: pre-wrap;
    resize: none;
    outline: none;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(40,40,40);
    font-size: small;
}
#outputBox2 {
    color: rgb(144, 96, 199);
    text-align: left;
    white-space: pre-wrap;
    width: auto;
    background-color: black;
    margin: 0;
    padding: 20px;
    height: auto;
    word-wrap: break-word;
    border: 1px solid rgb(40,40,40);
    font-size: small;
}
#optional {
    margin: 0;
    padding: 0;
}
#repository, #global, #layerJSON, .optional {
    display: none;
}
#filters {
    margin: 0;
    text-align: center;
}
#enablePrettyBox {
    display: inline-block;
    width: auto;
    margin: 0;
    margin-left: 5px;
}
#hidden, #toastLabel {
    visibility: hidden;
}
#bigger {
    line-height: 36px;
    vertical-align: middle;
}
.removeIcon {
    margin: 0;
    padding: 0;
    text-align: center;
}
colorParameter {color: rgb(67, 166, 224);}
colorArgument {color: rgb(26, 133, 127);}
colorPassword {color: rgb(121, 120, 184);}
colorStart {color: rgb(129, 87, 177);}
colorWarn {color: rgb(70, 70, 70);}